[Unit]
Description=TechCo Docker Compose Application
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/home/ec2-user/deploy
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=default.target